{% include "_layout/head.html.twig" %}
{% include "_layout/head-end.html.twig" %}
<body class="hold-transition login-page">
<div class="login-box">
    {{  block('content') }}
</div>
{% include "_layout/foot.html.twig" %}

