{% extends 'base.html.twig' %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Localisation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Localisation</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {# {{ macro.formsearch(form) }} #}
                {# <a href="{{ path('admin_new_users') }}" class="btn btn-info"> add user </a> #}
                <table is="custom-datatable" id="localization_table">
                    <thead>
                        <tr>
                            <th class="id">ID</th>
                            <th>name</th>
                            <th>iso Three </th>
                            <th>actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}