@import 'bootstrap';
@import '../../node_modules/bootstrap-switch-button/css/bootstrap-switch-button.css';
@import 'toastr';
@import 'dropify/src/sass/dropify.scss';
@import '../../node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css';
@import '@fortawesome/fontawesome-free';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/datatables/media/css/jquery.dataTables.min.css';
@import '../../node_modules/datatables-responsive/css/responsive.dataTables.scss';
@import '../../node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css';
@import '../../node_modules/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css';
@import '../../node_modules/select2/dist/css/select2.css';
.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 0;
    width: 70px;
    height: 70px;
}
