{% extends 'base.html.twig' %}
{% import '_layout/_macros/macros_form_search.html.twig' as macro %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gestion des utilisateurs</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Gestion des utilisateurs</a></li>
                        <li class="breadcrumb-item active">List</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                      {# a chnage facon behy mais mannpilation masta  plus button import expoort pdf  facon mate3 route et labe l#}
                        {{ macro.formsearch(form,{'name':"admin_new_users",'label':"add user"}) }}
                    <table id="users_table" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="id">ID</th>
                            <th >Email</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>roles</th>
                            <th>Created At </th>
                            <th>actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
