{% include "_layout/head.html.twig" %}
{% include "_layout/head-end.html.twig" %}
{{ Navbar_build() }}
{{ Menu_build() }}
<body class="hold-transition sidebar-mini text-sm">
 <div class="content-wrapper"  style="min-height: 1592.4px;">
   {{  block('content') }}
 </div>

{% include "_layout/footer.html.twig" %}
{% include "_layout/foot.html.twig" %}


